# dependencies
node_modules/

# build
dist/
build/
.next/
coverage/

# env
.env
.env.*
!.env.example

# logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor / os
.vscode/
.idea/
.DS_Store

#arquivos midificados
arquivos.txt